
<div class="hero-section">
    <div style="margin-top: 5%;margin-right:45px;" class="card-grid">
        <a class="card" style="margin-left:50px;" (click)="goToMercedes('Mercedes')">
            <div class="card__background"
                style="background-image: url(../../../assets/images/welcome-hero/1.jpg)">
            </div>
            <div class="card__content">
            </div>
        </a>
        <a class="card" style="margin-left:50px;" (click)="goToAudi('audi')">
            <div class="card__background"
                style="background-image: url(../../../assets/images/welcome-hero/2.jpg)">
            </div>
            <div class="card__content">
            </div>
        </a>
        <a class="card" style="margin-left:50px;" (click)="goToFord('ford')">
            <div class="card__background"
                style="background-image: url(../../../assets/images/welcome-hero/3.jpg)">
            </div>
            <div class="card__content">
            </div>
        </a>
        <a class="card" style="margin-left:50px;" (click)="goToPeugeot('peugeot')">
            <div class="card__background"
                style="background-image: url(../../../assets/images/welcome-hero/4.jpg)">
            </div>
            <div class="card__content">
            </div>
        </a>
        <a class="card" style="margin-left:50px;margin-top:20px;margin-bottom:100px;" (click)="goToBmw('BMW')">
            <div class="card__background"
                style="background-image: url(../../../assets/images/welcome-hero/5.jpg)">
            </div>
            <div class="card__content">
            </div>
        </a>
        <a class="card" style="margin-left:50px;margin-top:20px;margin-bottom:100px;"(click)="goToPorsche('porsche')">
            <div class="card__background"
                style="background-image: url(../../../assets/images/welcome-hero/6.jpg)">
            </div>
            <div class="card__content">
            </div>
        </a>
        <a class="card" style="margin-left:50px;margin-top:20px;margin-bottom:100px;" (click)="goToLandRover('Land rover')">
            <div class="card__background"
                style="background-image: url(../../../assets/images/welcome-hero/7.jpg)">
            </div>
            <div class="card__content">
            </div>
        </a>
        <a class="card" style="margin-left:50px;margin-top:20px;margin-bottom:100px;" (click)="goToToyota('toyota')">
            <div class="card__background"
                style="background-image: url(../../../assets/images/welcome-hero/8.jpg)">
            </div>
            <div class="card__content">
            </div>
        </a>
    <div>
</div>
